# Groq API configuration
GROQ_API_KEY=
GROQ_MODEL=
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=
OPENSEARCH_INDEX=movie_search_index
EMBEDDING_MODEL=all-MiniLM-L6-v2

